{% extends "::base.html.twig" %}

{% block title %}AppBundle:Login:login{% endblock %}

{% block body %}
    <div class="uk-container">
        <div class="uk-tile-primary">
            <h3 align="center">Login</h3>
        </div>
            <form action="{{ path('login') }}" method="post" class="uk-form-width-medium">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" name="_username" id="username" class="uk-input" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="username">Password:</label>
                    <input type="text" name="_password" id="password" class="uk-input">
                </div>
                <br>
                {% if errors %}
                    <div class="uk-alert-danger">
                        {{ errors.messageKey }}
                    </div>
                {% endif %}
                <br>
                <button class="uk-button uk-button-default uk-align-right">Login</button>
            </form>
        </div>
{% endblock %}
